/* Sky image added to the background of contact page.  */
.contact {
    background-image: url("assets/images/20190616_140132 (2).jpg");
    background-size: 100%;    
}
/* Sizing the jumbotron to the left side for the background pic to show.  */
.mycustom-jumbotron {
    width: 350px;
    margin-left: 25px;
}
/* Remove bullet point on the phone number list item, so it will be uniform with the rest of the contact data. */
.phone {
    list-style: none;
}

img  {
    border: solid blue;
}

.photo {
    border: solid dodgerblue;
}

.projlinks {
    text-align: center;
}