/* Sky image added to the background of contact page. My photo taken at the Whiteman AFB airshow July, 2019.  */
.contact {
    background-image: url("./Assets/Images/aircraft.jpg");
    background-size: cover;  

}
/* Sizing the jumbotron to the fit in the aircraft loop.  */
.mycustom-jumbotron {
    width: 20rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Remove bullet point on the list items, makes clean contact data. */
ul{
    list-style: none;
}

img  {
    border: solid #3364FF;
}

.photo {
    border: solid #3377FF;
} 
/*  Center the links under the descriptions. */
.projlinks {
    text-align: center;
}
